body {
  margin: 0;
  background: linear-gradient(135deg, #1e1e1e, #2a2a2a);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #e0e0e0;
  overflow: hidden;
}

/* START SCREEN */
#startScreen {
  position: fixed;
  inset: 0;
  background: rgba(20, 20, 20, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.gameName {
  font-size: 64px;
  font-weight: 900;
  letter-spacing: 5px;
  color: #ffffff;
  margin-bottom: 25px;
  text-decoration: underline;

  text-shadow:
    3px 3px 0 #00cc66,
    6px 6px 0 #00994d,
    9px 9px 15px rgba(0, 0, 0, 0.5);
}

.bigTitle {
  font-size: 56px;
  letter-spacing: 4px;
  color: #f0f0f0;
  margin-bottom: 20px;
}

#startScreen button {
  padding: 12px 35px;
  font-size: 16px;
  background: #3a3a3a;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s ease;
}

#startScreen button:hover {
  background: #555;
}

/* SCORE PANEL */
.scorePanel {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  
  display: flex;
  gap: 60px;
  padding: 15px 45px;

  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 12px;

  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);

  z-index: 100;
}

.scoreBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #aaa;
}

.value {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
}

/* CONTROLS INFO */
.controlsInfo {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 14px;
  color: #bdbdbd;
  letter-spacing: 1px;
  opacity: 0.9;
}

/* GAME OVER */
#gameOverScreen {
  position: fixed;
  inset: 0;
  background: rgba(15, 15, 15, 0.95);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 300;
}

.popup {
  background: linear-gradient(145deg, #2f2f2f, #242424);
  padding: 55px;
  border-radius: 14px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 
    0 0 25px rgba(255, 255, 255, 0.08),
    0 20px 60px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(12px);
  transition: 0.3s ease;
}

.popup h1 {
  font-size: 38px;
  margin-bottom: 20px;
  color: #fff;
}

.popup p {
  margin: 8px 0;
  color: #ccc;
}

.popup button {
  margin-top: 25px;
  padding: 12px 30px;
  font-size: 16px;
  background: #444;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.popup button:hover {
  background: #666;
}